* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.header {
    /* background: radial-gradient(#fff, #ffd6d6); */
    /* background: radial-gradient(#fff, #03bfa5); */
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

p {
    color: #555;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    border: none;
}

.btn:hover {
    background: #563434;
}

/* .header .row {
    margin-top: 250px;
} */

/* Featured Categories CSS */

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Featured Products CSS */
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: auto;
    min-width: 200px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    position: relative;
    color: #555;
    margin: 0 auto 80px;
    text-align: center;
    line-height: 60px;
}

.title:after {
    content: "";
    width: 80px;
    height: 5px;
    background: #03bfa5;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

/* Offer CSS */
.offer {
    background: radial-gradient(#fff, #03bfa5);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/* Testimonial Start CSS */
.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa-quote-left {
    font-size: 34px;
    color: #03bfa5;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* Brands Start CSS */

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* Footer Start CSS */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* Media Query for menu */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* All Products Page */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.row-3 {
    justify-content: space-between;
    margin: 25px auto 10px;
}

.dropdown {
    border: 1px solid #ff523b;
    padding: 5px;
}

.dropdown:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/* Single Product Details */

.single-product {
    margin-top: 80px;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart Items Details CSS */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #03bfa5;
    font-weight: normal;
}

th:nth-child(2) {
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
}

td {
    padding: 10px 5px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #03bfa5;
    font-size: 12px;
}

td img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

/* .total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 1px solid #03bfa5;
    width: 100%;
    max-width: 400px;
} */

.total-price {
    border-top: 1px solid #03bfa5;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* SignUp Page CSS */

.signup-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #03bfa5);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    padding: 20px 0;
    margin: auto;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    color: #555;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    min-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus {
    outline: none;
}

#LoginForm {
    /* transform: translateX(300px); */
    left: 0;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #03bfa5;
    height: 3px;
    margin-top: 8px;
    /* transform: translateX(100px); */
    transition: transform 1s;
}

/* Media Query for less than 600 screen size */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }

    td:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    /* .cart-btn:hover {
        background: #03bfa5;
        color: #fff;
    } */

    .sizein-cart {
        display: block;
    }
}

/* For Javascript Changes */

.cursor {
    cursor: pointer;
}

.spinner {
    margin: auto;
    display: flex;
}

.btn-remove {
    display: inline-block;
    padding: 3px 10px;
    margin: 5px 5px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-remove:hover {
    background: red;
    color: #fff;
}

.empty-cart {
    display: flex;
    justify-content: center;
}

.navHeader {
    border-bottom: 4px solid #03bfa5;
}

.cart-btn {
    /* display: flex;
    align-items: center; */
    padding: 0 10px;
    margin: 30px 10px;
    border-radius: 30px;
    transition: background 0.5s;
}

.cart-btn:hover {
    background: #03bfa5;
    color: #fff;
}

.header-cart-value {
    color: #03bfa5;
}

.disable-decrement-cart {
    opacity: 0.4;
    pointer-events: none;
}

.cart-quantity {
    // display: flex;
    align-items: center;
}

.opacity {
    opacity: 0.4;
}

.disable_input {
    pointer-events: none;
}

.sizein-cart {
    border-left: 2px solid #03bfa5;
    margin-left: 5px;
}

.bottomFooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brandName {
    font-weight: 500;
}

/* Loader CSS start */
.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8ad;
}

.loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* Loader CSS end */

// footer

#page-container {
    position: relative;
    min-height: calc(100vh - 215px);
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

.footer-container {
    margin: auto;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #000;
}

//Search

.search {
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    width: 25%;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
